*{
    border: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    height: 600px;
    width: 1280px;
    background-color: #000000;
    padding: 8px;
}
.nav-header{
    background-color: black;
    height: 64px;
    
}
.nav-bar{
    height: 48px;
    color: white;
    display: flex;
    padding: 8px;
    /* margin: -8px; */
    
}
/* SPOTIFY LOGO */
.nav-spotify-logo{
    font-size: 32px;
    color: white;
    padding: 8px;
}
/* HOME PANEL */
.nav-home{
    height: 24px;
    width: 24px;
    background-color: #1f1f1f;
    margin: 0px 0px 0px 8px;
    padding:12px;
}
.nav-home-icon{
    font-size: 21px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* SEARCH PANEL */
.nav-search{
    height: 48px;
    width: 474px;
    background-color: #1f1f1f;
    display: flex;
    /* justify-content:center ; */
    align-items: center;
}
.nav-search-icon{
    height: 48px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    align-items: center;
    border-top-left-radius:   50%;
    padding: 0px 12px;
}
.search-input{
    justify-content: center;
    background-color: #1F1F1F;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 96px 12px 48px;
    
}
/* nav-extra-space */
.nav-extra-space{
    height: 24px;
    width: 604px;
}
/* Explore premium */
.nav-premium{
    height: 32px;
    width: 144px;
    padding: 4px 16px;
    color: black;
    display:inline;
    display: flex;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* Install */
.nav-install{
    height: 32px;
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px 4px 36px;
    color: #b3b3b3;
    font-size: 11px;
}
.nav-notification-icon{
    height: 48px;
    width: 48px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;    
    
}
.nav-multiple-user{
    height: 48px;
    width: 48px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.nav-user{
    height: 48px;
    width: 48px;
    padding: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.side-icons{
    height: 103px;
    width: 72px;
    color: white;
    background-color: #000000;
    display:block;
    justify-content: center;
    align-items: center;
}
.side-open-library{
    height: 40px;
    width: 40px;
    padding: 4px 8px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-plus{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1F1F1F ;
    padding: 4px 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* PLAYLIST/library  */
.library{
    height: 396px;
    width: 72px;
    background-color: black;
    padding: 0px 4px 4px ;
}
/* .playlist{
    height: 64px;
    width: 64px;
    background-color: aqua;
} */
.liked-songs{
    background-image:url(liked.png) ;
    height: 64px;
    width: 64px;
    background-size: cover;
    margin-top: 20px;
}
.ankush-playlist{
    background-image: url(ankush_playlist.jpg);
    height: 64px;
    width: 64px;
    background-size: cover;
    margin-top: 20px;
}
.gym-playlist{
    background-image: url(gym_playlist.jpg);
    height: 64px;
    width: 64px;
    background-size: cover;
    margin-top: 20px;
}
.artists{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: aquamarine;
    margin-top: 20px;
}
.artist-arijit{
    background-image:url(arijit.webp) ;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-size: cover;
    margin-top: 20px;
}
.artist-diljit{
    background-image:url(diljit.webp) ;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-size: cover;
    margin-top: 20px;
}
.artist-pritam{
    background-image:url(pritam.webp) ;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-size: cover;
    margin-top: 20px;
}
    /* DONE TILL HERE */
.main-body{
    height: 64px;
    width: 1184px;
    background-color: #30363c;
    margin-left:64px ;
    margin-top:0px  ;
    flex-wrap:wrap ;

}